body{
    padding: 0;
    margin: 0;
    background-image: url("images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


.loginForm{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signUpForm{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

form {
    width: 200px;
    border-radius: 30px;
    background-color: #b2dba1;
    padding: 8px 150px;
}

h2{
    color: #5e5e5e;
    text-align: center;
    font-family: baloo, serif;
    font-size: 24px;
    padding: 10px 20px;
}

input[type="text"]{
    display: block;
    border: 2px solid #ccc;
    width: 95%;
    padding: 8px;
    margin: 2px auto;
    border-radius: 10px;
    outline: none;
}

input[type="password"]{
    display: block;
    border: 2px solid #ccc;
    width: 100%;
    padding: 8px;
    margin: 2px auto;
    border-radius: 10px;
    outline: none;
}

input [type="text"]:hover{
    border-color: lightblue;
}

input [type="password"]:hover{
    border-color: lightblue;
}

label{
    font-style: normal;
    color: #255625;
    font-size: 15px;
    padding: 20px 5px;
}

button{
    float: right;
    background: rgb(41, 148, 46);
    padding: 7px 7px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    color: white;
    border: none;
}

button:hover{
    opacity: 0.7;
}

.error{
    font-size: 15px;
    color: darkred;
    background: #ffe4e1;
    padding: 10px;
    width: 98%;
    border-radius: 5px;
    margin-bottom: 25px;
    text-align: center;
}

.reset{
    font-size: 15px;
    color: darkred;
    background: #ffe4e1;
    padding: 10px;
    width: 98%;
    border-radius: 5px;
    margin-bottom: 25px;
    text-align: center;
}

.instruction {
    text-align: center;
}

.link{
    float: right;
}
